@use './variables' as *;
@use './fonts' as *;
@use './cyber-effects' as *;
@use './terminal-glow' as *;

/* 标题样式 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-cyber;
  font-weight: $font-weight-medium;
  letter-spacing: $letter-spacing-normal;
}

h3 {
  font-size: 21px;
}

/* 溢光效果 */
h1 {
  @include glow-text-lg-1();
}

h2 {
  @include glow-text-md-3();
}

h3,
h4,
h5,
h6 {
  @include glow-text-sm-2();
}

strong {
  font-weight: 550;
  @include glow-text-sm-1();
}

/* 代码样式 */
code,
pre,
kbd,
samp {
  font-family: $font-mono;
  font-feature-settings: "liga" 1, "calt" 1;
}

pre code {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 10px 0;
  background: transparent;
  overflow-x: auto;
  border-radius: 0;
  font-size: $font-size-small;
  line-height: $line-height-tight;
}

code {
  overflow-x: auto;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  transition: color .5s;
}

/* 内联代码样式 */
.main-content :not(pre)>code {
  margin: 0;
  padding: 1px 6px;
  color: $cyberpunk-pink;
  background: rgba(142, 150, 170, .14);
  font-size: .875em;
  overflow-wrap: break-word;
  transition: background-color var(--vp-t-color), color var(--vp-t-color);
}

/* 链接样式 */
.main-content a {
  color: $cyberpunk-cyan;
  text-decoration: none;

  &:hover {
    color: $cyberpunk-pink;
    background-color: $cyberpunk-light-yellow;
    text-shadow: none;
  }
}

/* 内容区域样式 */
.content-prose {
  max-width: 100%;

  h1>a,
  h2>a,
  h3>a,
  h4>a,
  h5>a,
  h6>a {
    color: white;

    &:hover {
      color: white;
      background-color: transparent;
      @include glow-text-lg-1();
    }
  }

  pre {
    position: relative;
    max-width: 100%;
    overflow-x: auto;
    background: linear-gradient(to right, rgba($cyberpunk-pink, 0.2), rgba($cyberpunk-pink, 0.2) 2%, rgba($cyberpunk-pink, 0.08));
    padding: 15px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      pointer-events: none;
      background: linear-gradient(to right, rgba($cyberpunk-pink, 0), rgba($cyberpunk-pink, 0) 2%, rgba($cyberpunk-pink, 0.12));
      transition: opacity 0.1s;
    }

    &:hover::after {
      opacity: 1;
    }

    // scrollbar-width: 1px;
    // scrollbar-color: $cyberpunk-cyan $bg-secondary;

    &::-webkit-scrollbar {
      height: 1px;
    }

    &::-webkit-scrollbar-track {
      background: rgba($cyberpunk-background-pink, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background: $cyberpunk-cyan;
    }

    @media (pointer: fine) {
      // scrollbar-width: 6px;
      // scrollbar-color: $cyberpunk-cyan $bg-secondary;

      &::-webkit-scrollbar {
        height: 6px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $cyberpunk-pink;
      }
    }
  }
}

/* 标题间距 */
.main-content h2 {
  margin-top: 2em;
  margin-bottom: .8rem;
}

.main-content h3 {
  margin-top: 1.5em;
  margin-bottom: .6rem;
}

/* 列表样式 */
ul,
ol {
  padding-left: 1.25em;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-greek;
}

li {
  &::marker {
    color: $cyberpunk-pink;
    // font-family: $font-mono;
  }
}

/* 引用块样式 */
// blockquote {
//   position: relative;
//   margin: 1em 0;
//   padding: 1px 30px;
//   border-left: 2px solid rgba($cyberpunk-cyan, 0.3);
//   background: linear-gradient(to right, rgba($cyberpunk-cyan, 0.2), rgba($cyberpunk-blue, 0.1) 2%, rgba($cyberpunk-blue, 0.02));
//   backdrop-filter: blur(4px);
//   transition: border-left-color 0.1s ease;

//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: -2px;
//     width: 3px;
//     z-index: 2;

//     background-image: linear-gradient($cyberpunk-cyan, $cyberpunk-cyan), linear-gradient($cyberpunk-cyan, $cyberpunk-cyan);
//     background-size: 100% 8px;
//     background-position: top left, bottom left;
//     background-repeat: no-repeat;

//     filter: drop-shadow(0 0 5px $cyberpunk-cyan);

//     transition: background-size 0.4s cubic-bezier(0.22, 1, 0.36, 1), filter 0.1s ease;
//   }

//   &::after {
//     content: '';
//     position: absolute;
//     inset: 0;
//     z-index: 1;
//     pointer-events: none;

//     background: linear-gradient(to right, rgba($cyberpunk-cyan, 0.1), rgba($cyberpunk-blue, 0) 2%, rgba($cyberpunk-blue, 0.08));

//     opacity: 0;
//     transition: opacity 0.1s ease;
//   }

//   &:hover {
//     border-left-color: rgba($cyberpunk-cyan, 0.8);

//     &::after {
//       opacity: 1;
//     }

//     &::before {
//       background-size: 100% 51%;
//       filter: drop-shadow(0 0 8px $cyberpunk-cyan);
//     }
//   }

//   p {
//     margin: 1em 0;
//     line-height: 1.6;
//     position: relative;
//     z-index: 2;

//     &:not(:last-child) {
//       margin-bottom: 0.8rem;
//     }
//   }
// }
blockquote {
  position: relative;
  padding: 1px 30px;
  margin: 1em 0;
  background-color: rgba($bg-secondary, 0.8);
  backdrop-filter: blur(4px);
  overflow: hidden;

  border-color: $cyberpunk-blue;
  background: linear-gradient(to right, rgba($cyberpunk-blue, 0.2), rgba($cyberpunk-blue, 0.1) 2%, rgba($cyberpunk-blue, 0.02));

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: $cyberpunk-cyan;
    box-shadow: 0 0 10px $cyberpunk-cyan;
    z-index: 3;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(to right, rgba($cyberpunk-blue, 0.1), rgba($cyberpunk-blue, 0) 2%, rgba($cyberpunk-blue, 0.08));
  }

  &:hover::after {
    opacity: 1;
  }

  & p,
  .main-content & p {
    position: relative;
    z-index: 2;
    margin: 1em 0;
    font-size: 0.95rem;
    line-height: 1.6;
    color: $text-primary;
  }

  & a,
  .main-content & a {
    color: $cyberpunk-blue;

    &:hover {
      color: $cyberpunk-pink;
    }
  }
}

/* 表格样式 */
table {
  border-collapse: collapse;
  margin: 1rem auto;
  overflow: hidden;
}

th,
td {
  padding: 0.75rem 1rem;
  border: 1px solid rgba($cyberpunk-pink, 0.2);
}

thead th {
  background-color: $bg-tertiary;
  color: $white;
  font-weight: 600;
  font-family: $font-cyber;
}

tbody tr:nth-child(even) {
  background-color: rgba($white, 0.02);
}

/* 图片样式 */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* 文本样式 */
del {
  text-decoration: line-through;
  color: gray;

  &::before {
    content: '[';
    font-feature-settings: "liga" 1, "calt" 1;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    font-family: $font-mono;
  }

  &::after {
    content: '](deleted)';
    font-feature-settings: "liga" 1, "calt" 1;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    font-family: $font-mono;
  }
}

u {
  text-decoration: none;

  background-image: linear-gradient($cyberpunk-pink, $cyberpunk-pink);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: 0 100%;

  box-shadow: inset 0 -8px 6px -4px rgba($cyberpunk-pink, 0.4);

  transition: box-shadow 0.1s ease;

  &:hover {
    box-shadow: inset 0 -8px 6px -4px rgba($cyberpunk-pink, 0.8);
  }
}

mark {
  background-color: $cyberpunk-blue;
  color: $cyberpunk-light-yellow;
}