@use './variables' as *;
@use './fonts' as *;
@use './content' as *;

/* 全局 */
html {
  scroll-behavior: smooth;
  color-scheme: dark;
  color: $white;
  background-color: $bg-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
  overflow-y: scroll;
}

body {
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  letter-spacing: $letter-spacing-normal;
  margin: 0;
}

/* 全局选区、链接、按钮等样式 */
::selection {
  background: $cyberpunk-blue;
  color: $text-selection-bg;
}

a {
  text-decoration: none;
  transition: all 0.1s ease;
}

.footer-container a {
  color: $cyberpunk-cyan;
  text-decoration: none;

  &:hover {
    color: $cyberpunk-pink;
    background-color: $cyberpunk-light-yellow;
    text-shadow: none;
  }
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.1em;
  height: 1.1em;
  margin-right: 0.5em;
  border: 1px solid $cyberpunk-blue;
  background-color: $cyberpunk-background-blue;
  backdrop-filter: blur(2px);
  position: relative;
  cursor: pointer;
  vertical-align: text-bottom;
  transition: all 0.1s;
  box-shadow: 0 0 10px rgba($cyberpunk-cyan, 0.4), inset 0 0 5px rgba($cyberpunk-cyan, 0.1);

  &:hover {
    border-color: $cyberpunk-pink;
    background-color: $cyberpunk-background-pink;
    box-shadow: 0 0 10px rgba($cyberpunk-pink, 0.3), inset 0 0 5px rgba($cyberpunk-pink, 0.1);
  }

  &:checked {
    background-color: $cyberpunk-background-yellow;
    border-color: $cyberpunk-yellow;
    box-shadow: 0 0 10px rgba($cyberpunk-yellow, 0.4), inset 0 0 5px rgba($cyberpunk-yellow, 0.1);

    &:hover {
      border-color: $cyberpunk-pink;
      background-color: $cyberpunk-background-pink;
      box-shadow: 0 0 10px rgba($cyberpunk-pink, 0.3), inset 0 0 5px rgba($cyberpunk-pink, 0.1);
    }

    &::after {
      content: '';
      position: absolute;
      left: 35%;
      top: 10%;
      width: 25%;
      height: 55%;
      border: solid $cyberpunk-light-yellow;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      // filter: drop-shadow(0 0 3px $cyberpunk-cyan);
    }
  }

  &:disabled {
    background-color: $cyberpunk-background-blue;
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;

    &:checked {
      background-color: $cyberpunk-background-yellow;
    }
  }
}

.inner {
  display: flex;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: #{$breakpoint-mobile - 1px}) {
  h1 {
    font-size: 1.7em !important;
  }

  .inner {
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
  h1 {
    font-size: 1.7em !important;
  }

  .inner {
    max-width: 720px;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
  .inner {
    max-width: 920px;
  }
}

@media (min-width: #{$breakpoint-desktop}) and (max-width: #{$breakpoint-desktop-lg - 1px}) {
  .inner {
    max-width: 1000px;
  }
}

@media (min-width: #{$breakpoint-desktop-lg}) {
  .inner {
    max-width: 1200px;
  }
}