# 依赖项
/node_modules

# 构建产物和缓存
/dist
/dist-ssr
/.vite
/.temp
*.tsbuildinfo
db.json

# 日志文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 环境变量
.env
.env.local
.env.*.local

# IDE 和编辑器配置
.idea
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# 操作系统生成的文件
# macOS
.DS_Store
.AppleDouble
.LSOverride
# Windows
Thumbs.db
ehthumbs.db

# 测试和覆盖率报告
/coverage
/cypress/videos/
/cypress/screenshots/
/cypress/reports/
/cypress/downloads/
.eslintcache
.nyc_output

# 调试文件
.pnp
.pnp.js

# VuePress 默认临时文件目录
.vuepress/.temp
docs/.vuepress/.temp

# VuePress 默认缓存目录
.vuepress/.cache
docs/.vuepress/.cache

# VuePress 默认构建生成的静态文件目录
.vuepress/dist
docs/.vuepress/dist